<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Welcome!</h2>
      <img src="assets/images/programmer.png" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''" style="max-height:180px;">
      <p>My name is Daniel Teel and I am a full stack software engineer. Click around to get to know me!</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Overview</h3>
        @if (!stateService.isMobilePortrait) {
          <div style="margin-left: auto;">
            <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()" >Expand All </button>
            <div class="divider"></div>
            <button mat-raised-button color="primary" type="button"  (click)="accordion.closeAll()" >Collapse All </button>
          </div>
        } @else {
          <button mat-icon-button color="primary" type="button" style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon class="material-symbols-rounded">expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="primary" type="button" (click)="accordion.closeAll()">
            <mat-icon class="material-symbols-rounded">expand_less</mat-icon>
          </button>
        }
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Summary
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>{{ summary }}</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Technical Skills
          </mat-expansion-panel-header>
          @for (skill of skills; track skill) {
            <div class="accordion-content">
              <p>{{ skill.type ?? 'Unknown' }}: {{ skill.skills?.join(', ') }}</p>
            </div>
          }
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Experience
          </mat-expansion-panel-header>
          @for (experience of experiences; track experience; let isLast = $last) {
            <div class="accordion-content">
              <p><strong>{{ experience.companyName }}</strong></p>
              @for (position of experience.positions; track position) {
                <div>
                  <p>{{ position.title }} &mdash; {{ position.date }}</p>
                  <ul>
                    @for (task of position.tasks; track task) {
                      <li>
                        {{ task }}
                      </li>
                    }
                  </ul>
                </div>
              }
              @if (!isLast) {
                <br>
                }
              </div>
            }
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Education
            </mat-expansion-panel-header>
            <div class="accordion-content">
              <p>Bachelor of Science in Computer Science</p>
              <p>Oakland University - Rochester, MI</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
