<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Welcome!</h2>
      <img src="assets/images/programmer.png" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''" style="height:205px;">
      <p>My name is Daniel Teel and I am a full stack software engineer. Click around to get to know me!</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Overview</h3>
        <div *ngIf="!stateService.isMobilePortrait; else mobile" style="margin-left: auto;">
          <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()" >Expand All </button>
          <div class="divider"></div>
          <button mat-raised-button color="primary" type="button"  (click)="accordion.closeAll()" >Collapse All </button>
        </div>
        <ng-template #mobile>
          <button mat-icon-button color="primary" type="button"  style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="primary" type="button"  (click)="accordion.closeAll()">
            <mat-icon>expand_less</mat-icon>
          </button>
        </ng-template>
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Summary
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Armed with a Bachelor's degree in Computer Science from Oakland University my venture into the tech industry has been marked by a robust portfolio of software solutions at StarTex Software, Relativity, and Kunz, Leigh & Associates. Specializing in full stack web development my tenure has been defined by successful collaboration with cross-functional teams to design, code, and debug applications that meet rigorous project requirements. I have an inclination toward backend development and look forward to pushing the boundaries of established patterns and frameworks to solve new and complex problems.</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Experience
            </mat-expansion-panel-header>
            <div *ngFor="let experience of experiences; last as isLast" class="accordion-content">
              <p><strong>{{ experience.companyName }}</strong></p>
              <div *ngFor="let position of experience.positions">
                <p>{{ position.title }}, {{ position.date }}</p>
                <ul>
                  <li *ngFor="let task of position.tasks">
                    {{ task }}
                  </li>
                </ul>
              </div>
              <br *ngIf="!isLast">
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Education
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Oakland University</p>
            <p>Attended: Fall 2015 - Spring 2020</p>
            <p>Degree: Bachelor of Science in Computer Science</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Technical Skills
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Programming languages: C#, Java, JavaScript, Python, SQL, TypeScript</p>
            <p>Technologies: .NET, Angular, Aurelia, KnockoutJS, MSQL Server, Git, Bash, Microsoft Azure, AWS, Docker</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>
