<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Welcome!</h2>
      <img src="assets/images/programmer.png" style="width:205px;height:205px;">
      <p>My name is Danny Teel and I am a full stack software engineer. Click around to get to know me!</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Overview</h3>
        <div *ngIf="!stateService.isMobilePortrait; else mobile" style="margin-left: auto;">
          <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()" >Expand All </button>
          <div class="divider"></div>
          <button mat-raised-button color="primary" type="button"  (click)="accordion.closeAll()" >Collapse All </button>
        </div>
        <ng-template #mobile>
          <button mat-icon-button color="primary" type="button"  style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="primary" type="button"  (click)="accordion.closeAll()">
            <mat-icon>expand_less</mat-icon>
          </button>
        </ng-template>
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Who am I?
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>I am currently working as a full stack software engineer. I graduated college in the spring of 2020 with a Bachelors Degree in Computer Science and have been working as a web developer ever since. I have built large scale enterprise applications for a variety of clients to suit their business needs. I have an inclination towards backend work and love working on solutions to complex problems accomplished in new and efficient ways. I love to learn and always welcome new technologies and tech stacks.</p>
            <p>I can write code in the following languages: C++, C#, Java, JavaScript, Python, SQL, and TypeScript.</p>
            <p>I have experience building front-end applications using the following frameworks: Angular, Aurelia, and KnockoutJS.</p>
            <p>I have experience building backend applications using the following frameworks: .NET and Spring.</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              Education
            </mat-expansion-panel-header>
            <div class="accordion-content">
              <p>Oakland University</p>
              <p>Attended: Fall 2015 - Spring 2020</p>
              <p>Degree: Bachelor of Science in Computer Science</p>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Experience
            </mat-expansion-panel-header>
            <div *ngFor="let experience of experiences; last as isLast" class="accordion-content">
              <p><strong>{{ experience.companyName }}</strong></p>
              <div *ngFor="let position of experience.positions">
                <p>{{ position.title }}, {{ position.date }}</p>
                <div [innerHTML]="position.description"></div>
              </div>
              <br *ngIf="!isLast">
            </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>
