<div class="toolbar">
  <mat-toolbar>
    <h1>Daniel Teel's Portfolio</h1>
    <button mat-flat-button color="primary" type="button" style="margin-left: auto;" class="btn-default" (click)="downloadResume()">Download Resume</button>
  </mat-toolbar>
  <mat-tab-group>
      <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon>home</mat-icon>
              <div class="divider"></div>
              About Me
          </ng-template>
          <app-about></app-about>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon>person</mat-icon>
              <div class="divider"></div>
              Projects
          </ng-template>
          <app-projects></app-projects>
      </mat-tab>
  </mat-tab-group>
</div>
