<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Notable Projects</h2>
      <p>Below are notable projects that I have worked on. Enterprise applications are labeled as such and were worked on professionally as an employee of the relevant company.</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Projects</h3>
        <div *ngIf="!stateService.isMobilePortrait; else mobile" style="margin-left: auto;">
          <button mat-raised-button color="secondary" type="button" (click)="accordion.openAll()" class="btn-default">Expand All </button>
          <div class="divider"></div>
          <button mat-raised-button color="secondary" type="button"  (click)="accordion.closeAll()" class="btn-default">Collapse All </button>
        </div>
        <ng-template #mobile>
          <button mat-icon-button color="secondary" type="button" class="btn-default" style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="secondary" type="button" class="btn-default" (click)="accordion.closeAll()">
            <mat-icon>expand_less</mat-icon>
          </button>
        </ng-template>
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            EHS Insight
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>EHS Insight is an application for improving environmental, health, and safety performance by managing risk and increasing efficiency. The application allows agencies to create their own workflows and policies to inspect and track their compliance with environmental law. The system has a backend programmed in C# using the .NET framework, a front end programmed in JavaScript using the KnockoutJS framework, and a SQL database. There are Android and iOS applications created using Apache Cordova.</p>
            <p>Enterprise application developed while at StarTex Software.</p>
            <div class="image-container">
              <img src="assets/images/ehs-insight.png" style="width:70%; height:70%;">
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              Relativity Review Center
            </mat-expansion-panel-header>
            <div class="accordionContent">
              <p>Relativity Review Center is an application developed for the larger Relativity eDiscovery platform. Review Center uses a classifier to create queues of documents that have relevance to reviewers in the Relativity application and presents them in an informational and helpful way. The system has a backend programmed in C# using the .NET framework, a front end programmed in TypeScript using the Aurelia framework, and a SQL database.</p>
              <p>Enterprise application developed while at Relativity.</p>
              <div class="image-container">
                <img src="assets/images/review-center.png" style="width:80%; height:80%;">
              </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                MDARD LPS
            </mat-expansion-panel-header>
            <div class="accordionContent">
              <p>Worked with a team to develop a licensing portal system for the State of Michigan. This web application was developed for MDARD to allow easier tracking of organizations and their licenses as well as the purchasing new licenses according to state guidelines. The application also features an API for other State applications to access its data with valid API keys. The system has a backend programmed in C# using the .NET framework, a front end programmed in TypeScript using the Angular framework, and a SQL database.</p>
              <p>Enterprise application developed while at Kunz, Leigh & Associates.</p>
              <div class="image-container">
                <img src="assets/images/mdard.png" style="width:20%; height:20%;">
              </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              Michigan State Police CAP
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>The Michigan State Police CVED Authority Portal is an application developed for the State of Michigan. The portal is a customized implementation of MDARD LPS to specifically handle vehicle licenses. The system has a backend programmed in C# using the .NET framework, a front end programmed in TypeScript using the Angular framework, and a SQL database.</p>
            <p>Enterprise application developed while at Kunz, Leigh & Associates.</p>
            <div class="image-container">
              <img src="assets/images/msp.png" style="width:25%; height:25%;">
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              MDARD INTELS
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>Worked with a team to develop an inspection, notification, tasks, enforcement, and licensing system for the State of Michigan. This web application was developed for MDARD and to meet the needs of the Pesticide, Agricultural Products, and Nursery sections to ensure compliance to state guidelines. The system has a backend programmed in C# using the .NET framework, a front end programmed in TypeScript using the Angular framework, and a SQL database.</p>
            <p>Enterprise application developed while at Kunz, Leigh & Associates.</p>
            <div class="image-container">
              <img src="assets/images/mdard.png" style="width:20%; height:20%;">
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              Foobar with Google
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>Completed all 5 levels of Google's foobar challenge. The challenge tested my knowledge to implement various algorithms in either Java or Python to solve them in a timeframe. The first few challenges were completed using Java but all subsequent challenges were completed using Python because its ease of use manipulating data.</p>
            <button mat-button color="primary" type="button" style="margin-left: auto;" class="btn-default" (click)="openRepository('foobar-2021')">
              <mat-icon>open_in_new</mat-icon>
              Check it out!
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              Golf Player Time Management
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>Golf Player Time Management featured a web application and an Android Application. The web application was created for golf course administrators to manage data on a dynamic list of holes and geofence their course using Google Maps. The web application also displayed tables with player’s requests and locations. Google’s Firebase was utilized for data storage and user authentication. An Android App was also developed for players to have access to the hole data at a glance (such as par numbers, wait times, and aerial views), track their game’s performance, and play in groups with other players. The web application was created using the Angular framework and TypeScript language. The Android application was created using Java.</p>
            <button mat-button color="primary" type="button" style="margin-left: auto;" class="btn-default" (click)="openRepository('Golf-Player-Time-Management')">
              <mat-icon>open_in_new</mat-icon>
              Check it out!
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              Server Inventory Audit
          </mat-expansion-panel-header>
          <div class="accordionContent">
            <p>Checks the directories of a system and redirects the logs into a .txt file.The files can be compared and the missing file names are displayed and stored in yet another .txt file for easier viewing and logging purposes. The files can also be opened directly through the program instead of searching your machine for it. There is a terminal version and a version with a GUI. Both accomplish the same thing. Programmed using Python 3.</p>
            <button mat-button color="primary" type="button" style="margin-left: auto;" class="btn-default" (click)="openRepository('ServerCheck')">
              <mat-icon>open_in_new</mat-icon>
              Check it out!
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>
