<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Notable Projects</h2>
      <img src="assets/images/cross-platform.png" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''" style="max-height:180px;">
      <p>Below are notable projects that I have worked on. Enterprise applications are labeled as such and were worked on professionally as an employee of the relevant company.</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Projects</h3>
        @if (!stateService.isMobilePortrait) {
          <div style="margin-left: auto;">
            <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()">Expand All </button>
            <div class="divider"></div>
            <button mat-raised-button color="primary" type="button" (click)="accordion.closeAll()">Collapse All </button>
          </div>
        } @else {
          <button mat-icon-button color="primary" type="button" style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon class="material-symbols-rounded">expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="primary" type="button" (click)="accordion.closeAll()">
            <mat-icon class="material-symbols-rounded">expand_less</mat-icon>
          </button>
        }
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel *ngFor="let project of projects first as isFirst" [expanded]="isFirst || isCurrentlyActive(project)">
          <mat-expansion-panel-header>
            <span><mat-icon>{{ isCurrentlyActive(project)  ? 'construction' : 'check_circle' }}</mat-icon>  {{ project.title }}</span>
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>Active: {{ project.timeline }}</p>
            <p>{{ project.description }}</p>
            <p>{{ project.subtext }}</p>
            @if (project.image != undefined) {
              <div class="image-container">
                <img [src]="project.image" [ngStyle]="project.imageStyle" alt="Project Image" />
              </div>
            }
            @if (project.repository != undefined) {
              <div>
                <button mat-button color="primary" type="button" style="margin-left: auto;" (click)="openRepository(project.repository)">
                  <mat-icon class="material-symbols-rounded">open_in_new</mat-icon>
                  Check it out!
                </button>
              </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>
