<div class="main-div">
  <div class="container">
    <div class="header">
      <h2>Notable Projects</h2>
      <img src="assets/images/cross-platform.png" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''" style="height:205px;">
      <p>Below are notable projects that I have worked on. Enterprise applications are labeled as such and were worked on professionally as an employee of the relevant company.</p>
    </div>
    <mat-card class="card">
      <div class="mat-expansion-panel-header">
        <h3>Projects</h3>
        <div *ngIf="!stateService.isMobilePortrait; else mobile" style="margin-left: auto;">
          <button mat-raised-button color="primary" type="button" (click)="accordion.openAll()">Expand All </button>
          <div class="divider"></div>
          <button mat-raised-button color="primary" type="button" (click)="accordion.closeAll()">Collapse All </button>
        </div>
        <ng-template #mobile>
          <button mat-icon-button color="primary" type="button" style="margin-left: auto;" (click)="accordion.openAll()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <div class="divider"></div>
          <button mat-icon-button color="primary" type="button" (click)="accordion.closeAll()">
            <mat-icon>expand_less</mat-icon>
          </button>
        </ng-template>
      </div>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <mat-expansion-panel *ngFor="let project of projects first as isFirst" [expanded]="isFirst">
          <mat-expansion-panel-header>
            {{ project.title }}
          </mat-expansion-panel-header>
          <div class="accordion-content">
            <p>{{ project.description }}</p>
            <p>{{ project.subtext }}</p>
            <div *ngIf="project.image != undefined" class="image-container">
              <img [src]="project.image" [ngStyle]="project.imageStyle" alt="Project Image" />
            </div>
            <div *ngIf="project.repository != undefined">
              <button mat-button color="primary" type="button" style="margin-left: auto;" (click)="openRepository(project.repository)">
                <mat-icon>open_in_new</mat-icon>
                Check it out!
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</div>
