<main>
  <router-outlet></router-outlet>
  <div class="footer">
    <mat-toolbar>
      <a href="https://www.linkedin.com/in/daniel-teel-a6465017b" target="_blank">
        <img src="assets/images/linkedin.svg" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''">
      </a>
      <div class="divider"></div>
      <a href="https://github.com/TheManOfTeel" target="_blank">
        <img src="assets/images/github.svg" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''">
      </a>
      <button mat-icon-button color="primary" type="button" (click)="stateService.scrollToTop()" style="margin-left: auto;">
        <mat-icon class="material-symbols-rounded">arrow_upward</mat-icon>
      </button>
    </mat-toolbar>
  </div>
</main>
