<div class="toolbar">
  <mat-toolbar>
    <img src="assets/images/web-dev.png" [ngClass]="stateService.isDarkMode ? 'dark-img' : ''" style="max-width: 40%; max-height: 40%;">
    <h1><strong>&nbsp;Daniel Teel</strong></h1>
    @if (!stateService.isMobilePortrait) {
      <div style="margin-left: auto;">
        <button mat-stroked-button color="primary" type="button" (click)="stateService.toggleDarkTheme()">
          <mat-icon class="material-symbols-rounded">{{ stateService.isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
          {{stateService.isDarkMode ? 'Light' : 'Dark'}} Mode
        </button>
        <div class="divider"></div>
        <button mat-stroked-button color="primary" type="button" (click)="downloadResume()">
          <mat-icon class="material-symbols-rounded">download</mat-icon>
          Download Resume
        </button>
      </div>
    } @else {
      <button mat-icon-button color="primary" type="button" style="margin-left: auto;" (click)="stateService.toggleDarkTheme()">
        <mat-icon class="material-symbols-rounded">{{ stateService.isDarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
      </button>
      <div class="divider"></div>
      <button mat-icon-button color="primary" type="button" (click)="downloadResume()">
        <mat-icon class="material-symbols-rounded">download</mat-icon>
      </button>
    }
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-symbols-rounded">info</mat-icon>
        <div class="divider"></div>
        About
      </ng-template>
      <app-about></app-about>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-symbols-rounded">work</mat-icon>
        <div class="divider"></div>
        Projects
      </ng-template>
      <app-projects></app-projects>
    </mat-tab>
  </mat-tab-group>
</div>
