/* You can add global styles to this file, and also import other style files */

html, body {
  overflow: auto;
  height: 100%;
  background-color: var(--mat-sys-surface);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body { margin: 0; }

body.dark-theme {
  --mat-toolbar-container-background-color: var(--mat-sys-surface);
  --text-color: #eee;
  --mat-sys-on-primary: #000000;
  --mat-sys-on-secondary: #000000;
  --mat-sys-on-tertiary: #000000;
  --mat-sys-on-error: #000000;
  --mat-sys-error: #cf6679;
  --mat-sys-background: #000000;
  --mat-sys-surface: #000000;
  --mat-sys-on-surface: #ffffff;
  --mat-sys-primary: #bb86fc;
  --mat-sys-secondary: #aaaaaa;
  --mdc-elevated-card-container-color: #191919;
  --mat-expansion-container-background-color: #323232;
  --mat-expansion-header-indicator-color: #eee;
  --mat-icon-color: #eee;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

main {
  align-content: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-div {
  display: flex;
  flex: inherit;
  justify-content: center;
  font-size: medium;
  width: 100%;
}

.container {
  text-align: center;
  height: 80%;
  width: 80%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.toolbar {
  height: 100%;
  width: 100%;
  margin-bottom: 0%;
}

.header{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  margin-top: auto;
}

.center{
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.card {
  margin-bottom: 5px;
  opacity: 95%;
  flex: auto;
  text-align: left;
  width: 100%;
  height: fit-content;
}

.expander {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex ;
  flex-direction: row;
  align-items: flex-start;
  width: auto;
  height: auto;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

.accordionContent {
  font-size: medium;
  text-align: left;
}

.buttons{
  text-align: center;
  justify-content: center;
  display: flex;
  bottom: 0;
}

.row {
  text-align: center;
}
