name: Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
    - name: Install w/ legacy-peer-deps
      run: npm ci --legacy-peer-deps
    - name: Build
      run: npm run build
  cypress-e2e-tests:
    needs: [build]
    - name: Call Cypress E2E Tests Workflow
      uses: ./.github/workflows/cypress-e2e-tests.yml
  deploy:
    needs: [build, cypress-e2e-tests]
    - name: Deploy
      env:
        CLI: true
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        npm run deploy
