name: Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
    - name: Install w/ legacy-peer-deps
      run: npm ci --legacy-peer-deps
    - name: Build
      run: npm run build
    - name: Run Cypress E2E Tests
      uses: cypress-io/github-action@v6
      with:
        install: false
        start: npm start
        wait-on: 'http://localhost:4200'
        wait-on-timeout: 120
        browser: chrome
        record: false
    - name: Deploy
      env:
        CLI: true
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        npm run deploy
