name: Build and Deploy

on:
  push:
    branches: ["main"]

jobs:
  main-ci-tests:
      uses: ./.github/workflows/main-ci-tests.yml
  build-and-deploy:
    needs: [main-ci-tests]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
    - name: Build and Deploy
      env:
        CLI: true
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        npm ci --legacy-peer-deps
        npm run build
        npm run deploy
