name: Weekly Package Update

on:
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: write
  pull-requests: write

jobs:
  package-update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
    - name: Install npm-check-updates
      run: npm install -g npm-check-updates
    - name: Update Packages and Install
      run: |
          ncu -u
          npm install --legacy-peer-deps
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "[BOT] Update npm dependencies"
        committer: "github-actions[bot]"
        title: "[BOT] Weekly npm dependency updates"
        body: "Updated npm packages to their latest versions."
        labels: "dependencies"
        assignees: "TheManOfTeel"
        branch: "dependency-updates-automated"
        delete-branch: true
